body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  /* background: rgba(83, 67, 12, 0.644); */
}
body,
html {
  height: 95%;
}

/* Making my site responsive ;) */
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
/* For desktop: */

.col-3 {
  width: 30%;
}

.col-6 {
  width: 70%;
}

@media only screen and (max-width: 768px) {
   /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/* end of responsive basic parameters */

.header {
  background: #fff;
  height: 50px;
  width: 100%;

  box-shadow: 10px 0 10px grey;
}


/* Just to make the button more handsome */
.col-6 #button {
  background: rgb(200, 200, 200);
  border: 0;
  height: 35px;
  width: 50px;
  margin-left: -6px;
  display: inline-block;
  margin-top: -20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF4SURBVEhL7ZS/SsNQGMVbB9HJP4uOCiI4iyAu2k0foINThiYNCS55goC1gy5OurjpE+hoB93EZ7DdSlcRRUFF/X1yKmKbGKvi4g8O93Lu951709wm9xfkwzAcd113MoqiQXm94zjOsOd5VdQsl8vPJuYPjDXf95dU9jVKpdIMIQ0F3qFTdIhXl/fEvKLybNA0hC4sgOY9O7mWXsFbQS2th7I/h+JqO1RWB/ZE1NxQc8V8VHYqeYqb6DYIghF5XSF4UwdwZSXD7mMqPpGVCDUF1e7KSobgKRUfyUqE6zdrtWhfVjJ2Twm9Rw1ZiVDjKHhDVjo0HKthWVY37F2cWx3jgrx0KFykwe5py96+7DfiOO5jbVub12Rng8Z1neYabaECmkP2+GcKtfWA33pabdmgaY3my3bIB9UI9DR/5C++qrZs2OVnA5fmHcYDVCFw3tbso2ShPYenYWH/4R28D+dd1IvFYr+Wvo+FWyjjhKyfg+/3gKa/SS73AhxY9GbAY3pvAAAAAElFTkSuQmCC");
  background-position: 12px 7px;

  background-repeat: no-repeat;
}
#button::-moz-focus-inner {
  border: 0;
}

.col-6 #researchBar {
  /* margin: -50px 0 0.1% 0; */
  margin-top: -20px;
  height: 35px;
  width: 45%;
  padding-left: 3px;

  display: inline-block;

  border-radius: 0;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

/* Yt Logo */
.col-3 #logoYt {
  height: 25px;
  width: 180px;
  display: inline-block;
  padding-left: 4%;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 5%;
  width: 100%;

  text-align: center;
  background: rgba(201, 200, 198, 0.918);
  color: rgb(99, 76, 1);
  font-family: "Raleway", sans-serif;

  padding-top: 0.3%;
}
#footer a {
  color: rgb(99, 76, 1);
  text-decoration: none;
}
#footer a:hover {
  color: rgb(182, 1, 1);
}

.col-6 #videoPlayer {
  margin-left: 10%;
}

#videoArea h3 {
  margin-left: 10%;
}

#otherVideos {

  display: inline-block;
  margin: 0;
}